body {
background-color: #e1ddd9;
background: url("bgimage.jpg");
font-size: 12px;
font-family: Verdana, Arial, Helvetica, SunSans-Regular,
Sans-Serif;
color:#564b47;
padding:20px;
margin:0px;
text-align: center;
}
div#contentarea {
text-align: left;
vertical-align: middle;
margin: 0px auto;
padding: 0px;
width: 550px;
background-color: #ffffff;
border: 1px #564b47;
}
div#innercontentarea{ padding: 10px 50px; }
div#innercontentarea form input[type=text]{ width: 435px; }
div#innercontentarea form textarea[name=content] { width: 435px; }
div#comment-section { border-top: 1px solid #ccc; }
div#comment-section form input.comment-input{ width: 200px; }
div#comment-section form textarea[name=comment] { width: 255px; }
span.input-label { font-weight:bold; padding-right:10px; }

